.head{
    color:crimson;
    display: flex;
    justify-content: center;

}
button{
    margin-top: 5px;
    height: 30px;
    width:70px;
    border:none;
    border-radius: 2px;
    background-color: crimson;
    color:white;
    cursor:pointer;
}
button:hover{
    background-color: white;
    color: crimson;
}